body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

nav {
    color: #186e0b;
}

/*LEGEND*/
h2,
h3 {
    margin: 10px;
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    margin: 10px;
}

/**
* Create a position for the map
* on the page */

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#features {
    top: 0;
    height: 20em;
    margin-top: 6vh;
    width: 18em;
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 150px;
    margin-bottom: 40px;
    width: 100px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.contents-in-legend{
    margin: 2em;
}

/*marker legend*/
.fuel-circle-elec{
    margin-left: 10px;
    margin-top: 10px;
    height: 12px;
    width: 12px;
    background-color:  #2b4881;
    display: inline-block;
}

.fuel-circle-cng{
    margin-left: 10px;
    margin-top: 10px;
    height: 12px;
    width: 12px;
    background-color: #43ff43;
    display: inline-block;
}

.fuel-circle-hy{
    margin-left: 10px;
    margin-top: 10px;
    height: 12px;
    width: 12px;
    background-color: #ff0000;
    display: inline-block;
}

.where-you-are{
    margin-left: 10px;
    margin-top: 10px;
    height: 12px;
    width: 12px;
    background-color: rgb(63, 177, 206);
    display: inline-block;
}

.para-space{
    margin-left: 10px;
}
.pd {
    margin: 0;
}


/*for toggle*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    /*position: absolute;*/
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*for map*/

#view-legend-text{
    /*position: absolute;*/
}

/*mobile*/
@media screen and (max-width: 576px) {
    #features {
        top: 0;
        height: 25vh;
        margin-top: 5vh;
        width: 50vw;
    }

    .contents-in-legend{
        margin: 20px;
    }
}

#map {
    border: 3px solid black;
    margin: 5em 1em;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /*right: 0px;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/

}